@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-light-gray: var(--color-light-gray);
  --color-gray: var(--color-gray);
  --color-dark-gray: var(--color-dark-gray);

  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
}

@layer utilities {
  .animate-cursor-blink {
    animation: cursor-blink 1s infinite;
  }
}

@keyframes cursor-blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, var(--color-secondary), var(--color-primary));
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  background-clip: padding-box;
}

html, body {
  scroll-behavior: smooth;
  background: var(--color-light-gray);
}